<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miw.tripplanner.mappers.TicketMapper">

        <select id="getAllTickets">
            SELECT *
            FROM tickets
        </select>

        <select id="getTicket">
            SELECT *
            FROM tickets
            WHERE id = #{id}
        </select>

        <select id="createTicket" parameterType="com.miw.tripplanner.dtos.TicketDto">
            INSERT INTO tickets (id_plan, nombre, asiento, documento, qr)
            VALUES (#{idPlan}, #{nombre}, #{asiento}, #{documento}, #{qr})
            RETURNING id
        </select>

        <update id="updateTicket" parameterType="com.miw.tripplanner.dtos.TicketDto">
            UPDATE tickets
            SET id_plan = #{ticketDto.idPlan}, nombre = #{ticketDto.nombre}, asiento = #{ticketDto.asiento}, documento = #{ticketDto.documento}, qr = #{ticketDto.qr}
            WHERE id = #{id}
        </update>

        <delete id="deleteTicket">
            DELETE FROM tickets
            WHERE id = #{id}
        </delete>

        <delete id="deleteTicketsByIdPlan">
            DELETE FROM usuarios_tickets
            WHERE id_ticket IN (SELECT id FROM Tickets WHERE id_plan = #{id_plan});

            DELETE FROM Tickets
            WHERE id_plan = #{id_plan};
        </delete>

</mapper>