<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miw.tripplanner.mappers.UbicacionMapper">

        <select id="getAllUbicaciones">
            SELECT *
            FROM ubicaciones
        </select>

        <select id="getUbicacion">
            SELECT *
            FROM ubicaciones
            WHERE id = #{id}
        </select>

        <select id="createUbicacion" parameterType="com.miw.tripplanner.dtos.UbicacionDto">
            INSERT INTO ubicaciones (es_exterior, tipo_vestimenta, requisitos, direccion, coordenadas)
            VALUES (#{esExterior}, #{tipoVestimenta}, #{requisitos,typeHandler=com.miw.tripplanner.config.StringListTypeHandler},
                    #{direccion}, #{coordenadas})
            RETURNING id
        </select>

    <update id="updateUbicacion">
        UPDATE ubicaciones
        SET es_exterior = #{ubicacionDto.esExterior},
            tipo_vestimenta = #{ubicacionDto.tipoVestimenta},
            requisitos = #{ubicacionDto.requisitos, typeHandler=com.miw.tripplanner.config.StringListTypeHandler},
            direccion = #{ubicacionDto.direccion},
            coordenadas = #{ubicacionDto.coordenadas}
        WHERE id = #{id}
    </update>

        <delete id="deleteUbicacion">
            DELETE FROM ubicaciones
            WHERE id = #{id}
        </delete>

</mapper>