<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miw.tripplanner.mappers.UsuarioMapper">

        <select id="getAllUsuarios">
            SELECT *
            FROM usuarios
        </select>

        <select id="getUsuario">
            SELECT *
            FROM usuarios
            WHERE id = #{id}
        </select>

        <select id="createUsuario" parameterType="com.miw.tripplanner.dtos.UsuarioDto">
            INSERT INTO usuarios (fullname, email, password, created_at, updated_at)
            VALUES (#{fullName}, #{email}, #{password}, now(), now())
            RETURNING id
        </select>

        <update id="updateUsuario" parameterType="com.miw.tripplanner.dtos.UsuarioDto">
            UPDATE usuarios
            SET fullname = #{usuarioDto.fullName}, email = #{usuarioDto.email}, password = #{usuarioDto.password}, updated_at = now()
            WHERE id = #{id}
        </update>

        <delete id="deleteUsuario">
            DELETE FROM usuarios
            WHERE id = #{id}
        </delete>

        <select id="findUsuarioByEmail">
            SELECT *
            FROM usuarios
            WHERE email = #{email}
        </select>

        <select id="findUsuariosByIdViaje">
            SELECT u.id, u.fullname, u.email
            FROM usuarios u
            JOIN usuarios_viajes uv ON u.id = uv.id_usuario
            JOIN viajes v ON uv.id_viaje = v.id
            WHERE v.id = #{id_viaje}
        </select>

</mapper>
