<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miw.tripplanner.mappers.UsuarioPagoMapper">

        <select id="getAllUsuariosPagos">
            SELECT *
            FROM usuarios_pagos
        </select>

        <select id="getUsuarioPago">
            SELECT *
            FROM usuarios_pagos
            WHERE id_usuario = #{id}
        </select>

        <insert id="createUsuarioPago" parameterType="com.miw.tripplanner.dtos.UsuarioPagoDto">
            INSERT INTO usuarios_pagos (id_usuario, id_pago, pagador)
            VALUES (#{idUsuario}, #{idPago}, #{pagador})
        </insert>

        <update id="updateUsuarioPago" parameterType="com.miw.tripplanner.dtos.UsuarioPagoDto">
            UPDATE usuarios_pagos
            SET id_usuario = #{usuarioPagoDto.idUsuario}, id_pago = #{usuarioPagoDto.idPago}, pagador = #{usuarioPagoDto.pagador}
            WHERE id_usuario = #{id}
        </update>

        <delete id="deleteUsuarioPagoByIdPago">
            DELETE FROM usuarios_pagos
            WHERE id_pago = #{id}
        </delete>
    
        <select id="findUsuariosPagosByIdPago">
            SELECT *
            FROM usuarios_pagos
            WHERE id_pago = #{idPago}
        </select>

</mapper>