<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miw.tripplanner.mappers.UsuarioMapper">

        <select id="getAllUsuarios">
            SELECT *
            FROM usuarios
        </select>

        <select id="getUsuario">
            SELECT *
            FROM usuarios
            WHERE id = #{id}
        </select>

        <select id="createUsuario" parameterType="com.miw.tripplanner.dtos.UsuarioDto">
            INSERT INTO usuarios (name, email, password)
            VALUES (#{name}, #{email}, #{password})
            RETURNING id
        </select>

        <update id="updateUsuario" parameterType="com.miw.tripplanner.dtos.UsuarioDto">
            UPDATE usuarios
            SET name = #{usuarioDto.name}, email = #{usuarioDto.email}, password = #{usuarioDto.password}
            WHERE id = #{id}
        </update>

        <delete id="deleteUsuario">
            DELETE FROM usuarios
            WHERE id = #{id}
        </delete>

</mapper>
